body {
  background-color: black;
  color: lightgrey;
}

h1 {
  text-align: center;
}

#main {
  display: flex;
  justify-content: space-around;
}

#main h2 {
  text-align: center;
}

#main ul {
  list-style-type: none;
}
