body {
  background-color: black;
  color: lightgrey;
  min-width: 1800px;
}

.title {
  text-align: center;
  margin: 0px;
  font-size: 4em;
  font-family: "Cinzel", serif;
  font-weight: normal;
}

#main {
  display: flex;
  justify-content: space-around;
  margin: 0px 5px;
}

/* .column {

} */

.subheader {
  text-align: center;
  margin: 2px;
  font-family: "Quintessential", cursive;
  font-size: 2em;
  font-weight: normal;
}

.list {
  list-style-type: none;
  margin: 8px;
  font-size: 1em;
}
